[submodule "src/themes/beautifulhugo"]
	path = src/themes/beautifulhugo
	url = https://github.com/appleboy/blog-theme.git
[submodule "src/themes/hugo-theme-stack"]
	path = src/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "src/themes/github-style"]
	path = src/themes/github-style
	url = https://github.com/MeiK2333/github-style.git
[submodule "src/themes/den"]
	path = src/themes/den
	url = https://github.com/shaform/hugo-theme-den
